{% extends "layout/layout.twig" %}

{% block article %}

<div class="row mt-3">

    <div class="col mt-5">
    
        <article>

            <h2> {{ article.title }} - {{ article.createdAt }}</h2>

            <figure>

                <img src="{{ article.imgUrl }}"width="300"alt="{{ article.altImg }}">
                <figcaption>{{ article.content }}</figcaption>

                {% if loggedUser.role == 1  %}
                    <button>
                        <a href="index.php?access=article_confirmDeleteArticle&id={{article.id}}">Supprimer</a>
                    </button>
                {% endif %}
                
            </figure>

        </article>

    </div>

</div>

<div class="row">

    <div class="col">

         <aside>

            {% block comments %}

            {% if relatedComments %}
            
                {% for comment in relatedComments %}

                <ul>

                    <li class="d-flex justify-content-around">
                        <p>{{ comment.content }}</p>
                        <p>{{ comment.authorId }}</p>
                        <p>{{ comment.createdAt }}</p>
                        <div>
                            {% if comment.authorId == loggedUser.id or loggedUser.role == 1 %}
                                <button>Modifier</button>
                                <button>Supprimer</button>
                            {% endif %}
                        </div>
                    </li>
                
                </ul>
                    
                {% endfor %}

                {% else %}
                    
                    <p>Soyez-le premier à commenter.</p>
            
            {% endif %}
            

                {% if loggedUser %}

                    {% include"comment/createComment.twig"%}
                            
                {% endif %}

            {% endblock %}

        </aside>
    
    </div>

</div>

        
       

{% endblock %}