{% extends "layout/layout.twig" %}
{% block content %}
    {% if alert %}
       <p>{{ alert.message }}</p>
    {% endif %}
    {% if method != "PUT" %}
        <div class="row mt-3">
            <div class="col mt-5">
                <article class="article d-flex flex-column mx-auto">
                    <h2 class="title"> {{ article.title }} - {{ article.createdAt }}</h2>
                    <figure class="figure ">
                        <img class="object-fit-contain " style="width: 80%;" src="{{ article.imgUrl }}"width="300"alt="{{ article.altImg }}">
                        <figcaption>{{ article.content }}</figcaption>
                        {% if loggedUser.role == 1 or loggedUser.id == article.authorId %}
                            <button>
                                <a href="index.php?access=article_modify&id={{article.id}}">Modifier</a>
                            </button>
                            <button>
                                <a href="index.php?access=article_confirmDelete&id={{article.id}}">Supprimer</a>
                            </button>
                        {% endif %}
                    </figure>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <aside>
                    {% block comments %}
                        {% if loggedUser.approuved != 1 %}
                            <p class="text-center alert alert-warning">Votre compte doit être approuvé avant de pour partager vos commentaires.</p>
                        {% else %}
                            {% include"comment/createComment.twig"%}
                        {% endif %}
                        {% if relatedComments %}
                            {% include "comment/listComments.twig" %}
                        {% else %}
                            <p>Soyez-le premier à commenter.</p>
                        {% endif %}
                    {% endblock %}
                </aside>
            </div>
         </div>
    {% else %}
        <div class="row mt-3">
            <div class="col mt-5">
                <article class="article d-flex flex-column mx-auto col-8 mx-auto">
                    {% if loggedUser.role == 1 or loggedUser.id == article.authorId %}
                        <form action="index.php?access=article_update&id={{article.id}}" name="article" enctype="multipart/form-data" method="POST" class="row d-flex justify-content-center m-2">
                            <div class="form-container row d-flex flex-row justify-content-around">
                                <label for="title">Nouveau titre</label>
                                <input type="text" name="title" value="{{article.title}}" class="d-block mb">
                            </div>
                            <div class="form-container row d-flex flex-row justify-content-around">
                                <label for="title" class="form-label d-block">Nouveau contenu</label>
                                <textarea type="text" name="content" rows="10" class="d-block">{{article.content}}</textarea>
                            </div>
                            <div class="row d-flex flex-row justify-content-around m-3">
                                <button class="btn  col-3">
                                    <a href="index.php?access=article_update&id={{article.id}}">Confirmer</a>
                                </button>
                                <button class="btn  col-3 ">
                                    <a href="index.php?access=article_get&id={{article.id}}">Annuler</a>
                                </button>
                            </div>
                        </form>
                    <figure class="figure d-flex row m-3">
                        <figcaption class="text-center">Photo actuelle</figcaption>
                        <img src="{{ article.imgUrl }}" alt="{{ article.altImg }}">
                    </figure>
                    <form action="index.php?access=article_update&id={{article.id}}" name="article" enctype="multipart/form-data" method="POST">
                        <input type="file" name="img">
                        <button class="btn" type="submit">k</button>
                    </form>
                    {% endif %} 
                </article>
            </div>
        </div>
    {% endif %}
{% endblock %}