{% extends "layout/layout.twig" %}

{% block content %}

  <div class="row mt-5">
    <div class="col mt-5">
      <div class="container">
        <div class="main-body">

        {% if alert %}
        
        <div class="alert alert-{{alert.type}} alert-dismissible fade show text-center" role="alert">
          {{alert.message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        {% endif %}
        

          {% if loggedUser.role > 0 %}
          
            <div class="row">

            <h2 class="text-center mb-4">A valider</h2>
            
            {% for waiting in waitings %}

              <p>{{waiting}}</p>
              
            {% endfor %}
            
            </div>
          {% endif %}
          

          <div class="row gutters-sm">

          <h2 class="text-center mb-4">{{user.userName}}</h2>

          <div class="col-md-5 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center mb-2">
                  <div class="image-container rounded-circle" style="aspect-ratio: 2/1;">
                    <img src="{{user.imgUrl}}" alt="Admin" class="rounded-circle" width="100%" height="100%">
                  </div>
                  {% if loggedUser.id == user.id %}
                  <form action="index.php?access=user_updatePicture&id={{loggedUser.id}}" method="post" enctype="multipart/form-data">
                    <input type="file" name="img" id="img" accept="image/*" class="form-control mb-2 mt-2" />
                    <button for="img" class="btn btn-outline-primary">Modifier ma photo</button>
                  </form>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

            <div class="col-md-7" >
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user.email }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Dernière connexion</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user.lastConnexion}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Articles commentés</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user.lastConnexion}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nombe de commentaires</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user.lastConnexion}}
                    </div>
                  </div>

                  </div>
                </div>
              </div>
            </div>
             {% if loggedUser.id == user.id %}

                <div class="row">

                  <div class="col text-center">
                    <button>Supprimer mon compte</button>
                  </div>
                
                </div>

              {% endif %}
          </div>
        </div>
      </div>
  </div>
{% endblock %}